
# Ignore dataset audio folds
data/fold1/
data/fold2/
data/fold3/
data/fold4/
data/fold5/
data/fold6/
data/fold7/
data/fold8/
data/fold9/
data/fold10/

# Keep only CSVs in data/

# Ignore large/binary files and temp folders
__pycache__/
*.pkl
*.wav
*.zip
*.mp3
.DS_Store
.ipynb_checkpoints/

